# =========================
# FRONTEND
# =========================
frontend/node_modules
frontend/dist
frontend/.vite

# =========================
# BACKEND
# =========================
backend/.venv
backend/__pycache__/
backend/*.pyc

# =========================
# GLOBAL PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# =========================
# ENV FILES (SEHR WICHTIG)
# =========================
backend/.env
frontend/.env

# =========================
# OS / EDITOR
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# OPTIONAL (LOGS ETC.)
# =========================
TODO.md
*.log